<div class="form-group">
  <label for="tradeName">Nome Fantasia</label>
  <input type="text"
         class="form-control"
         id="tradeName"
         placeholder="Digite o Nome Fantasia"
         formControlName="name">
</div>
<div class="form-group">
  <label for="name">Razão Social</label>
  <input type="text"
         class="form-control"
         id="name"
         placeholder="Digite a Razão Social"
         formControlName="fantasy_name">
</div>
<div class="form-group">
  <label for="cnpj">Cnpj</label>
  <input type="text" class="form-control" id="cnpj" placeholder="Digite seu Cnpj">
</div>
