<div class="row">
  <h1>Status de Conta</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <a class="btn btn-sm btn-primary" [routerLink]="'/account-status/new'">
          Criar
        </a>
      </td>
      <td colspan="3">
      </td>
    </tr>
    <tr>
      <th style="width: 60%">Estado</th>
      <th style="width: 40%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let model of collection | paginate:{itemsPerPage:5,currentPage: pagination.page, totalItems: pagination.totalItems, itemsPerPage:pagination.itemsPerPage}">
      <td>{{ model.name }}</td>
      <td>
        <div class="btn-group-sm">
          <a class="btn btn-sm btn-success" [routerLink]="'/state/'+model.id">Ver</a>
          <a class="btn btn-sm btn-primary" [routerLink]="'/state/edit/'+model.id">Editar</a>
          <a class="btn btn-sm btn-danger" [routerLink]="'/state/delete/'+model.id">Excluir</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Anterior"
                       nextLabel="Próximo"></pagination-controls>
</div>
